html, body {
  height: 100%;
  overflow-x:hidden;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  padding-bottom:5em;
  padding-top:1em;
  color: #555;
  /* background-color: #ffffff; */
  background: url(images/arisen_signup_backimg.svg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;    
}
.signup_model{padding: 2em !important; border-radius: 1em !important; }
.signup_logo{width: 85px; height: auto;}
.signup_text{margin-top: 10%;}
a { text-decoration: underline; }

h1,h2,h3 { margin-bottom: 0.1em}
h3 { color:#777 }

.spacer { padding:.3em; }
.with {width: 450px;}
.footerLink { color:black; text-decoration:none; }
.footerLink:hover { color:black; text-decoration: underline; }


.fixedFooter {
  position: fixed; 
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  color:white;
  padding:1em;
  font-size:1.2em;
  background-color:rgba(0,0,0,.30)
}
/* custom changes */
.copy-mnemoic {
  position: absolute;
  right: 21px;
}
#swal2-content button {
  border: 0;
  border-radius: .25em;
  background-color: #3085d6;
  padding: 0.625em 1em;
  margin-right: 1em;
}
#swal2-content button a {
  color: #fff;
  text-decoration: none;
  font-size: 1.0625em;
}
.random-mnemonic {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px;
}
.random-mnemonic span {
  border-bottom: 1px solid #e0e0e0;
  color: #999;
  font-size: 14px;
  padding: 10px 0;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .fixedFooter {
      position: static;
      display: inline-block;
      width: 100%;
      margin-top:2em;
      margin-bottom:0;
  }
}